:host{
  display: flex;
  align-items: center;
}

.form-login {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.form-login-control {
  display: block;
}

.form-login-submit {
  margin-top: 12px;
  width: 72px;
}
