<div class="login-container">
  <form [formGroup]="loginForm!" (ngSubmit)="onSubmit()" class="form-login">
    <mat-form-field class="form-login-control">
      <mat-label>User name</mat-label>
      <input id="username" matInput type="text" formControlName="username" autocomplete="on">
    </mat-form-field>
    <mat-form-field class="form-login-control">
      <mat-label>Password</mat-label>
      <input id="password" matInput type="password" formControlName="password" autocomplete="on">
    </mat-form-field>

    <button mat-flat-button color="primary" id="submit" type="submit" class="form-login-control form-login-submit">Login</button>

  </form>
</div>
