.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login-control {
  display: block;
}

.form-login-submit {
  margin-top: 12px;
  width: 72px;
}
