<div class="app-user-panel-container">
  <div *ngIf="authUsername$ | async as username; else loggedOut" class="user-panel-items">
    <div class="user-panel-username-container">
      Logged in as <span>{{ username }}</span>
    </div>
    <div class="user-panel-controls">
      <div class="details-btn-container">
        <button class="details-btn" id="details-btn" value="Details"
                mat-raised-button color="primary"
                (click)="onDetailsClick()">Details</button>
      </div>
      <div class="logout-btn-container">
        <button class="logout-btn" id="logout-btn" value="Logout"
                mat-raised-button color="basic"
                (click)="onLogoutClick()">Logout</button>
      </div>
    </div>
  </div>
  <ng-template #loggedOut>You are not logged in</ng-template>
</div>
