.app-user-panel-container {
  font-weight: bold;
}

.user-panel-items {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.user-panel-controls {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.user-panel-username-container {
  padding-right: 5px;
}

.logout-btn-container, .details-btn-container {
  padding-right: 5px;
  padding-bottom: 5px;
}

.logout-btn-container .logout-btn, .details-btn-container .details-btn {
  height: 24px;
}

